HF_DATASET_NAME=cardiffnlp/tweet_eval
HF_DATASET_CONFIG=stance_climate
HF_DATASET_SPLIT=train
HF_MAX_TWEETS=500
HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
HF_LLM_MODEL=gpt2
HF_CACHE_DIR=hf_cache
CHROMA_DIR=chroma_db
RETRIEVER_K=4
MAX_NEW_TOKENS=90
